.card-img-top img {
  width: 100% !important;
  height: 100% !important;
  transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card {
  height: 520px
}

.card-img-top:hover img {
  width: 110% !important;
  width: 110% !important;
}
